/.idea/
/.env
/env.prod

node_modules/
backend/node_modules/
/backend/dist/
/backend/drizzle/migrations/
/backend/logs/
/backend/tsconfig.tsbuildinfo
/frontend/dist/
*.pem
/frontend/src/**/*.js
/backend/src/**/*.js

/logs/
/backend/certs/
